<!DOCTYPE html>
<html lang="{{lang}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>

    <!-- Bootstrap -->
    <link href="{{static_root}}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{static_root}}css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body style="padding-top:50px">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <ul class="nav nav-tabs">
                {{#menu}}
                  <li{{#is_rtl}} dir=rtl{{/is_rtl}}{{#selected}} class="active"{{/selected}}><a href="/{{code}}">{{name}}</a></li>
                {{/menu}}
              </ul>
              {{#active_language}}
                <h3{{#is_rtl}} dir=rtl{{/is_rtl}}>{{title}}</h3>
              {{/active_language}}
            </div><!-- /.panel-header -->
            <div class="panel-body">
              {{#active_language}}
                <ul class="pager">
                  {{#previous}}<li
                    class="{{^is_rtl}}previous{{/is_rtl}}{{#is_rtl}}next{{/is_rtl}}"><a
                      href="{{.}}">{{#is_rtl}}&gt;{{/is_rtl}}{{^is_rtl}}&lt;{{/is_rtl}}</a></li>{{/previous}}
                  {{#next}}<li class="{{^is_rtl}}next{{/is_rtl}}{{#is_rtl}}previous{{/is_rtl}}"><a
                      href="{{.}}">{{#is_rtl}}&lt;{{/is_rtl}}{{^is_rtl}}&gt;{{/is_rtl}}</a></li>{{/next}}
                </ul>
                <ul class="nav nav-pills nav-stacked">
                  {{#links}}
                    <li{{#is_rtl}} dir=rtl{{/is_rtl}}><a target="_blank" href="{{url}}">{{ title }}</a></li>
                  {{/links}}
                </ul>
                <ul class="pager">
                  {{#previous}}<li
                    class="{{^is_rtl}}previous{{/is_rtl}}{{#is_rtl}}next{{/is_rtl}}"><a
                      href="{{.}}">{{#is_rtl}}&gt;{{/is_rtl}}{{^is_rtl}}&lt;{{/is_rtl}}</a></li>{{/previous}}
                  {{#next}}<li class="{{^is_rtl}}next{{/is_rtl}}{{#is_rtl}}previous{{/is_rtl}}"><a
                      href="{{.}}">{{#is_rtl}}&lt;{{/is_rtl}}{{^is_rtl}}&gt;{{/is_rtl}}</a></li>{{/next}}
                </ul>
              {{/active_language}}
            </div><!-- /.panel-body -->
          </div><!-- /.panel -->
        </div><!-- /.col-md-12 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </body>
</html>

